.inactive{
  width:auto;
}

.Manager td{
  font-weight: bold;
  color: rgb(0, 187, 255) ;
  
  
}

.tableRow td{
min-width: 120px;
height: 50px;
}

.tableRow div{
  width:fit-content;
  padding: 0px 10px;
  border-radius: 50px;
}

table{
  min-width:30%;
}